{% if film is not empty %}
	<div class="card mb-5 overflow-hidden border-0 shadow-lg">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{{ film.poster }}" class="img-fluid h-100 movie-poster" alt="{{ film.title }}">
			</div>
			<div class="col-md-8 d-flex align-items-center">
				<div class="card-body p-4">
					<h3 class="card-title h2">
						{{ film.title }}
						<span class="text-muted small">({{ film.year }})</span>
					</h3>
					<div class="mb-3">
						<span class="badge bg-light text-dark border me-2">
							<i class="bi bi-clock me-1"></i>
							{{ film.duration }}
						</span>
						<span class="badge bg-light text-dark border">
							<i class="bi bi-tags me-1"></i>
							{{ film.genre }}
						</span>
					</div>
					<p class="card-text lead fs-6">{{ film.plot }}</p>
					<hr>
					<a href="{{ film.letterboxd_url }}" target="_blank" class="btn btn-outline-dark mt-2">
						Letterboxd
					</a>
					<a href="https://www.justwatch.com/fr/recherche?q={{ film.title|url_encode }}" target="_blank" class="btn btn-outline-dark mt-2">
						Où regarder ?
					</a>
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div class="alert alert-warning border shadow-sm text-center py-4">
		<i class="bi bi-exclamation-triangle me-2"></i>
		Aucun film trouvé
        {% if court && long %}
            gros kaka va enlève les deux filtres
		{% elseif court %}
			(surtout avec le filtre -2h)
		{% endif %}
        {% elseif long %}
			(surtout avec le filtre + 2h)
		{% endif %}.
	</div>
{% endif %}
